@font-face {
  font-family: 'Brutalist';
  font-style: normal;
  font-weight: 400;
  src: url('../../../src/assets/fonts/BrutalistMono.woff') format('woff'),
    url('../../../src/assets/fonts/BrutalistMono.woff2') format('woff2');
}

@font-face {
  font-family: 'Brutalist';
  font-style: bold;
  font-weight: 700;
  src: url('../../../src/assets/fonts/BrutalistMono-Bold.woff') format('woff'),
    url('../../../src/assets/fonts/BrutalistMono-Bold.woff2') format('woff2');
}
