@import './variables', './math-operations';

.main {
  width: 100%;
  padding: 2rem 0;
  margin: 0 auto;
  flex: 1 0 auto;
}

.game {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  box-shadow: $main-box-shadow;
}
