/* start colors */

$black-color: rgba(0, 0, 0, 1);
$white-color: rgba(255, 255, 255, 1);
$ashamed-color: rgba(243, 235, 173, 1);
$russian-violet-color: rgba(50, 23, 77, 1);
$dark-purple-color: rgba(85, 26, 139, 1);

/* end colors */

/* start fonts */

$brutalist-font-family: 'Brutalist';

/* end fonts */

/* hover start */

$header-transition: 0.1s linear;

/* hover end */

/* shadow start */

$main-box-shadow: 0 0 0.2rem $russian-violet-color;

/* shadow end */
