@import './variables', './fonts', './header', './main', './footer',
  './calculator';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: $brutalist-font-family;
  background-color: $ashamed-color;
  color: $russian-violet-color;
}
